body {
	background-color: #fdfdfd;
	color: #5e5e5e;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;	
}

.section-content {
	padding: 24px;
}

.right {
	text-align: right;
}

.syntax,
.example {
	background-color: #f7f7f7;
	padding: 12px 24px 12px 24px;
	border-radius: 4px;
	margin-bottom: 24px;
}

.description {
	color: #919bd8;
}

.syntax .expresion {
	background-color: #bfe9b7;
	font-weight: bold;
	border-radius: 4px;
	display: inline-block;
}

footer {
 	background-color: #cfcfcf;
}

footer .text {
	margin-bottom: 24px;
	color: #f1f2f2;
	font-weight: bold;
	font-size: 18px;
}

footer .link {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

footer .logo {
	text-align: right;
}

footer .copy {
	text-align: center;
}

/*images*/
.img-aside {
	border: 1px solid #f1f1f1;
	padding: 2px;
}

.list-index li {
	display: inline-block;
	list-style: none;
	margin-right: 12px;
}

xmp {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*Contact Form*/
.wpcf7-form {
	background:#dcc8a5; 
	border:2px solid #f6efdf; 
	border-radius:7px; 
	width:345px;
	padding: 10px 20px; 
	margin-bottom:10px; 
}
 
.wpcf7-form input,
	#wpcf7-f235-p1277-o2 .wpcf7-form textarea{ 
	background:#f6efdf; 
	border:3px solid #ccb58c; 
	border-radius:7px;
	width:300px;
    margin: 4px 0 8px 0;
    padding: 5px 7px;
	color: #4f4f4f;
    font-size: 14px;
    vertical-align: middle;
}
 
.wpcf7-form p { 
	color:#4f2a0f; 
	margin-top:10px; 
	margin-bottom:10px; 
}
 
.wpcf7-form .wpcf7-submit { 
	background:#4f2a0f;
	border-radius:7px;	
	cursor:pointer; 
	width:100px;
	margin:7px 0;
	padding: 5px 15px;
	color:#fff; 
}